body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}

$unit: 4px;
.mr-1{
    margin-right: $unit;
}
.mr-2{
    margin-right: $unit*2;
}

header{
    background: #212529;
    padding: 0 10%;
    .container{
        margin: 0 auto;
        height: 56px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            display: flex;
            color: #fff;
            font-weight: bold;
            font-size: 20px;
        }
        .ham{
            border: 1px solid #8E8E8E;
            padding: 10px;
            border-radius: 3px;
        }
    }
}
.but{
    display: block;
    background: #0072E3;
    color: #fff;
    padding: 8px 10px;
    width: 160px;
    border-radius: 8px;
}
.but-assist{
    background: #6C6C6C;
}

.heading{
    text-align: center;
    margin: 100px auto;
    max-width: 60%;
    line-height: 24px;
    h3{
        color: #4F4F4F;
        font-size: 30px;
        margin-bottom: 16px;
    }
    p{
        color: #7B7B7B;
    }
    .heading-but{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}

.alum{
    background:#E0E0E0;
    padding: 80px 10%;
    display: flex;
    justify-content: center;
    .card{
        width: 30%;
        margin-right: 16px;
        .card-img{
            height: 225px;
            background: #9D9D9D;
        }
        .card-body{
            padding: 20px;
            line-height: 24px;
            background: #fff;
        }
        .card-footer{
            color: 	#4F4F4F;
            margin-top: 24px;
            display: flex;
            justify-content: space-between;
        }
        .card-num{
            padding: 4px;
        }
        .card-num-l{
            border: 1px solid #000;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        .card-num-r{
            margin-left: -1px;
            border: 1px solid #000;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
}

footer{
    text-align: center;
    padding: 30px 10%;
}

@media(max-width:720px){
    .alum{
        display: block;
        .card{
            width: 100%;
            margin-bottom: 20px;
        }
    }
}